<div class="container page-container">
  <div class="quote-container">
    <h1 class="quote"> {{quote}} </h1>
    <span class="author-quote">{{author}}</span>
  </div>
  <div class="info">
    <item label="{{item.label}}" information="{{item.information}}" ng-repeat="item in info"></item>
  </div>
</div>
